/* * {
  border: 1px solid black;
} */

.App {
  background-image: url("./assets/img-bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Cards */

.card-col {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20% !important;
}
.card-div {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  min-height: 100%;
  cursor: pointer;

}

/* Contact form */

.contact-container {
  background-color: white;
  border-radius: 15px;
  padding: 32px 32px 32px 32px !important;
}

.bee-informed {
  font-weight: 800;
  font-size: 23px;
}

.form-control {
  background-color: #EFEEEB !important;
  border: none !important;
  transition: none !important;
  height: 45px !important;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
} 
