/* * {
  border: 1px solid black;
} */

.App {
  background-image: url("./assets/img-bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Cards */

.card-col {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20% !important;
}
.card-div {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  min-height: 100%;
  cursor: pointer;

}

/* Contact form */

.contact-container {
  background-color: white;
  border-radius: 15px;
  padding: 32px 32px 32px 32px !important;
}

.bee-informed {
  font-weight: 800;
  font-size: 23px;
}

.form-control {
  background-color: #EFEEEB !important;
  border: none !important;
  transition: none !important;
  height: 45px !important;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
} 

.form-check-input[type=radio] {
  background-color: #EFEEEB;
  border-radius: 0%;

  border-radius: 5px !important;
  height: 20px;
  width: 20px;
  border: none;
}

.form-check-input:checked[type=radio] {
  background-color: #EFEEEB;
  border-radius: 5px;
  height: 20px;
  width: 20px;
  background-image: url("./assets/icon-tick.svg") !important;
  border: none;
  padding: 5px 5px 2px 2px !important; 
}

#radio-button-row {
  height: 100%;
}

.radio-signup-col {
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* align-items: center; */
  min-height: 100%;
}

#signup-button {
  background-color: #6CAFB2;
  border: none;
}

/* Right col */

#mix-and-match {
  display: none;
}

#mix-and-match-mobile {
  display: none;
}

#replay-desktop {
  background-color: white;
  border: none;
  color: black;
}

.bee-desktop-col {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#bee-desktop {
  display: none;
}

#bee-mobile {
  display: none;
}

#hero-text-large-screen {
  display: none;
}

#hero-text-mobile {
  display: none;
}

#sub-hero-text {
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
}

/* Med to large screens only styles */
@media (min-width: 991px) {
  /* Hero text */
  #hero-text-large-screen {
    display: block;
    font-size: 40px;
    line-height: 35px;
    font-weight: 500;
  }

  #mix-and-match {
    display: block;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
  }

  /* Bee */

  #bee-desktop {
    display: block;
  }
}
/* Mobile styles */

@media (max-width: 767px) {

  /* Hero text */
  #hero-text-mobile {
    display: block;
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
  }

  #mix-and-match-mobile {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
    line-height: 15px;
  }

  /* Bee */
  #bee-mobile {
    width: 60px;
  }

  /* Cards */
  .card-back {
    width: 70px;
  }

  #card-row {
    padding-top: 15px !important;
  }
  


}



